.customer__primariTitle {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and(min-width: 1200px) {
    font-size: 36px;

    margin-bottom: 50px;
  }
}

.customer__list {
  @extend %list;
  display: flex;

  justify-content: center;

  @media screen and(max-width: 1200px) {
    flex-wrap: wrap;
  }

}

.customer__item {
  margin-bottom: 30px;
  margin-right: 30px;

  @media screen and(max-width: 480px) {
    &:nth-last-child(2n + 1) {
      margin-right: 0;
    }
  }
  /*  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  } */

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 30px;

    &:nth-last-child(3n + 1) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px){
    &:last-child{
      margin-right: 0;
    }
  }

  
}

.customer__icon {
  width: 140px;
  height: 83px;
  padding: 7px 33px;
  fill: $--color-icon;
  border: 1px solid $--color-icon;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $--accent-color;
    border: 1px solid $--accent-color;
  }

  @media screen and(min-width: 768px) and (max-width: 1200px){
    width: 226px;
    height: 92px;
  }
  
  @media screen and(min-width: 1200px){
    width: 170px;
    height: 92px;
  }
}
