.customer__primariTitle {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.customer__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customer__item{
    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-last-child(2n + 1) {
        margin-right: 0;
      }
    
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
}



.customer__icon {
  display: flex;
  width: 157px;
  height: 83px;
  padding: 7px 33px;
  fill: $--color-icon;
  border: 1px solid $--color-icon;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $--accent-color;
    border: 1px solid $--accent-color;
  }
}
