.feature__list {
  @extend %list;

  @media screen and( max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

  @media screen and( min-width: 1200px) {
    display: flex;
    
  }
}


.feature__item{
  @media screen and( min-width: 768px) {
    width: 354px;
  }

  @media screen and( min-width: 1200px) {
    margin-right: 30px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.feature__background {
   height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

   background-color: $--background-icon; 
  background-color: tomato; 

  @media screen and( min-width: 1200px) {
    
    width: 270px;

    
  }
}

.feature__icon {
  width: 70px;
  height: 70px;
  margin-top: 7%;
  margin-left: 40%;
}

.feature__title {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;

  margin-bottom: 10px;

}

.feature__text {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 30px;

  color: $--paragraph-text-color;
}
