.section__project {
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }
}


.main__primariTitle {
  display: none;
}

 .filter--position {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
} 
 
.filter-link {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  line-height: 26px;
  margin-right: 0;
  

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $--accent-color;
    color: $--primary-white-color;
  }

  &__colorBlue {
    background-color: $--accent-color;
    color: $--primary-white-color;
  }

  &:last-child {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1200px) {
    width: 128px;
    
    margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 130px;


    
    
  }
}
