.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header {
  border: 1px solid #ececec;
}

.header__logo {
  @include primariColor($--accent-color);
  display: inline-block;
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding: 16px 0;

  &--color {
    color: $--primary-text-color;
  }
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 768px) {
  }
}

.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    list-style: none;
    padding: 32px 0 32px 0;

    &:hover,
    &:focus {
      color: $--accent-color;
    }

    &:first-child {
      margin-left: 88px;
    }
  }
}

.menu__button {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button .icon__cross {
  display: none;
}

.menu__button.is-open .icon__cross {
  display: block;
}

.menu__button.is-open .icon__menu {
  display: none;
}

.nav__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

.menu__button--close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border: none;
}

.contact__list {
  display: none;
}

.nav__item {
  position: relative;
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
    @media screen and (min-width: 768) {
    }
  }
}

.nav__link {
  color: $--primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  @include primariColor($--accent-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transform: translate(1px, 34px);
    background-color: $--accent-color;
  }
}

.contact__list {
  @extend %list;
  display: inline-block;
  margin-left: 84px;
  margin-top: 10px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
}

.contact__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__mail {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $--accent-color;
    fill: $--accent-color;
  }
}
.contact__icon--width {
  max-height: 16px;
  max-width: 16px;
  margin-right: 10px;
}

.contact__icon {
  display: flex;
  width: 10px;
  height: 12px;
  margin-right: 10px;

  &--width {
    display: flex;
    width: 14px;
    height: 10px;
    margin-right: 10px;
  }
}

.contact__tel {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $--accent-color;
    fill: $--accent-color;
  }
}
