.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; 

  @media screen and (min-width: 480px){
    width: 480px;
  }

}

.header {
  border: 1px solid #ececec;
}

.header__logo {
  @include primariColor($--accent-color);
  display: inline-block;
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding: 16px 0;

  &--color {
    color: $--primary-text-color;
  }
}

.nav__list {
  display: none;
}

.contact__list{
  display: none;
}

