

.container {
  /* width: 1200px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


}

.header {
  border: 1px solid #ececec;
}

.header__logo {
  @include primariColor($--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &--color {
    color: $--primary-text-color;
  }

}

.container__header {
  display: flex;
  align-items: center;

}

.nav__list {
  @extend %list;
  display: flex;
  padding: 32px 0 32px 0;

  &:hover,
  &:focus {
    color: $--accent-color;
  }

  &:first-child {
    margin-left: 100px;
  }
}

.nav__item {
  position: relative;
  margin-left: 50px;
}

.nav__link {
  color: $--primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  @include primariColor($--accent-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transform: translate(1px, 34px);
    background-color: $--accent-color;
  }
}

.contact__list {
  @extend %list;
  display: inline-flex;
  padding: 32px 0 32px 0;
  margin-left: auto;
 

 
}

.contact__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.contact__mail {
  color: $--paragraph-text-color;
  fill: $--paragraph-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $--accent-color;
    fill: $--accent-color;
  }
}

.contact__icon {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  &--width {
    display: inline-flex;
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact__tel {
  color: $--paragraph-text-color;
  fill: $--paragraph-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $--accent-color;
    fill: $--accent-color;
  }
}
