.section {
  padding: 94px 0;
}

.hero__container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero {
  display: block;
  max-width: 100%;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/heroMobail.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    display: inline-block;
    width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    margin-bottom: 30px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 60px;

      text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/heroMobail@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/heroTablet.jpg);

    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/heroTablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1199px) {
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/heroDesktop.jpg);

    @media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/heroDesktop@2x.jpg);
    }
  }
}

.hero__button {
  padding: 10px 32px;
  border: 1px solid $--accent-color;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-chadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $--accent-color;
  color: $--primary-white-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
