.section {
  padding: 94px 0;
}

.hero__container {
  text-align: center;
}

.hero {
  padding: 200px 0;
  background-image: url(/images/hero.jpg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero.jpg);
  background-size: cover;
  background-position: center;

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $--primary-white-color;
    width: 700px;
    margin: 0 auto 30px;
    text-align: center;
  }
}

.hero__button {
  padding: 10px 32px;
  border: 1px solid $--accent-color;
  border-radius: 4px;
  background-color: $--accent-color;
  color: $--primary-white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-chadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
