.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  overflow-y: scroll;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* @media screen and (min-width: 480px) { 
      position: fixed;
      
    } */
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  
  padding: 20px;
  overflow-y: scroll;

  border-radius: 4px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background: #ffffff;
}

/*   .is-hidden .modal {
    transform: scale(0.1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

.modal__btnClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__imgBtn {
  position: absolute;
  width: 17px;
  height: 17px;
  transform: translate(-10px, -9px);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $--accent-color;
  }
}
/*
  .modal__mainText {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .form__field {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    color: $--paragraph-text-color;
  }
  
  .form__input {
    display: inline-block;
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  
    &:focus-within {
      border: none;
      outline: 1px solid $--accent-color;
    }
  }
  
  .form__input:focus-within + .form__img {
    fill: $--accent-color;
  }
  
  .form__img {
    position: absolute;
    top: 25px;
    left: 15px;
  }
  
  .form__img--size {
    width: 18px;
    height: 18px;
  }
  
  .textarea__text {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--paragraph-text-color);
  }
  
  .form__textarea {
    padding: 12px 16px;
    width: 370px;
    height: 120px;
    margin-bottom: 20px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    &:focus-within {
      border: none;
      outline: 1px solid #188ce8;
    }
  }
  
  .field__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox {
    position: absolute;
    appearance: none;
  }
  
  .icon__checkbox {
    width: 13px;
    height: 13px;
  
    border: 2px solid black;
    border-radius: 2px;
  }
  
  .checkbox:checked ~ .icon__checkbox {
    background-image: url(/images/icons/icon-check.svg);
    background-size: contain;
    background-repeat: round;
  
    background-color: $--accent-color;
    border-color: $--accent-color;
  }
  
  .checkbox__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
  
    margin-left: 8px;
  
    color: $--paragraph-text-color;
  }
  
  .checkbox__text--blue {
    color: #2196f3;
  }
  
  .button__modal {
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 77px;
    
    border-radius: 4px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-chadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    border: 1px solid $--accent-color;
    background-color: $--accent-color;
    color: $--primary-white-color;
  
    &:hover, &:focus{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: #188ce8;
    }
  } */
