.project__list {
  @extend %list;
  margin-bottom: 94px;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 768px;
    margin-bottom: 94px;
    flex-wrap: wrap;
  }
}

.project__item {
  position: relative;
  display: block;

  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    

    margin-right: 20px;
    &:nth-last-child(1n + 1){
      margin-right: 30px;
    }
  }
}

.project__item--overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 75%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item--overlay:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.project__img {
  width: 100%;
}

.project__text--overlay {
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  color: $--primary-white-color;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    opacity: 1;
  }
}


.project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding: 20px 24px 0 24px;
  }
  
  .project__text{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.87;
      padding: 0 24px 20px 24px;
  }
