.team__primariTitle {
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  padding-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.14;

    margin-bottom: 50px;
  }
}

.team__list {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:last-child {
      margin-right: 30px;
    }
  }
}

.team__img {
  display: block;

  margin-bottom: 30px;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.team__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.teamList_icon {
  @extend %list;
  display: flex;
  justify-content: space-evenly;

  padding: 0 32px 30px;
}

.team__icon {
  display: flex;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  fill: $--color-icon;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $--primary-white-color;
    background-color: $--accent-color;
  }
}
