.team__primariTitle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
}

.team__list {
  @extend %list;
  display: flex;
  align-items: center;
}

.team__item {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.team__img {
  margin-bottom: 30px;
}

.team__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team__text {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.teamList_icon {
  @extend %list;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 32px 30px;
  list-style: none;
}

.team__icon {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: $--color-icon;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $--primary-white-color;
    background-color: $--accent-color;
  }
}
